# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
*.env
.env.local

# 🔹 IDE / OS files
.vscode/
.idea/
*.swp
.DS_Store
